ebin/**
priv/db/**
priv/log/**
*.beam
.eunit
*~
#*
.dialyzer.plt
.rebar
.idea/**
Mnesia**
*.log
*.dump
/logs
qlc_*
Mnesia.*/**
fprof**
_build/**
deps/**
.DS_Store*
*.gz
rel/ems-bus
rel/*.gz
rel/rpm/ems-bus-centos-CentOS-7/RPMS/**
rel/rpm/ems-bus-centos-CentOS-7/BUILD/**
rel/rpm/ems-bus-centos-CentOS-7/SOURCES/**
rel/rpm/ems-bus-centos-CentOS-7/BUILDROOT/**
rel/deb/*.deb
rel/deb/*/control
